.time {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    width: 80%;
    margin: 0 auto;
    color: #bbb;
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.time-place {
    font-size: 1.2rem;
    line-height: 2rem;
    color: #3a3a3a;
}